<h1>Find Pokemons by...</h1>

<a href="http://127.0.0.1:5000/all/pokemons">Go All Pokemons</a><br><br>

<form method="post">
<table>
  <tr>
    <th><h2>Type</h2></th>
    <th><h2>Generation</h2></th>
  </tr>
  <tr>
    <td>
      <input type="checkbox" name="type_poke" value="9">Acier<br>
      <input type="checkbox" name="type_poke" value="2">Combat<br>
      <input type="checkbox" name="type_poke" value="16">Dragon<br>
      <input type="checkbox" name="type_poke" value="11">Eau<br>
      <input type="checkbox" name="type_poke" value="13">Electrick<br>
      <input type="checkbox" name="type_poke" value="18">Fee<br>
      <input type="checkbox" name="type_poke" value="10">Feu<br>
      <input type="checkbox" name="type_poke" value="15">Glace<br>
      <input type="checkbox" name="type_poke" value="7">Insecte<br>
      <input type="checkbox" name="type_poke" value="1">Normal<br>
      <input type="checkbox" name="type_poke" value="12">Plante<br>
      <input type="checkbox" name="type_poke" value="4">Poison<br>
      <input type="checkbox" name="type_poke" value="14">Psy<br>
      <input type="checkbox" name="type_poke" value="6">Roche<br>
      <input type="checkbox" name="type_poke" value="5">Sol<br>
      <input type="checkbox" name="type_poke" value="8">Spectre<br>
      <input type="checkbox" name="type_poke" value="17">Tenebres<br>
      <input type="checkbox" name="type_poke" value="3">Vol<br><br>
    </td>
    <td>
      <input type="checkbox" name="generation" value="1">1G<br>
      <input type="checkbox" name="generation" value="2">2G<br>
      <input type="checkbox" name="generation" value="3">3G<br>
      <input type="checkbox" name="generation" value="4">4G<br>
      <input type="checkbox" name="generation" value="5">5G<br>
      <input type="checkbox" name="generation" value="6">6G<br>
      <input type="checkbox" name="generation" value="7">7G<br><br>
    </td>
</tr>
</table>
<input type="submit" value="Submit">
</form>


